.login{
    margin: 10%;
    padding: 5% 35% 15% 35%;
}

.login p{
    color: #F8F9FA;
    font-size: larger;
    text-align: center;
}

.login .logout{
    margin: 0px 50px 0px 17.5px ;
    height: 60px;
    width: 150px;
    background-color: #6C757D;
    color: #F8F9FA;
    font-size: x-large;
    border: 0px;
}

.login .logout:hover{
    background-color: #ADB5BD;
}