.Navbar{
    background-color: #343A40;
    height: 5rem;
}

.Navbar button{
    color: white;
    font-size: x-large;
    background-color: #343A40;
    border: 0px;
    padding: 1.5rem;
}

.Navbar button:hover{
    background-color: #6C757D
}

.Navbar  .loginButton{
    color: white;
    float: right;
}

.Navbar  .loginButton .image{
    border-radius: 50px;
    size:auto ;
    height: 3.5rem;
    margin: .75rem 30px 0px 0px;
}

